#exp1
pixeltable
torch
transformers
scikit-learn
#exp2
opencv-python
sentence-transformers
azure-identity
#main
opencv-python
azure-ai-projects
transformers
byaldi
qwen2vl
Pillow
bs4
openai 
tqdm
